@model Examen1_LeonardoMadrigal.ViewModels.VehiculosRutasViewModel


@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Vehículos</h2>
    <div class="row">
        @foreach (var item in Model.Vehiculos)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @* <img src="/images/placeholder.jpg" alt="Imagen no disponible" class="card-img-top" /> *@
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Placa)</h5>
                        <p class="card-text">Precio: @Html.DisplayFor(modelItem => item.Modelo)</p>
                        <p class="card-text">Disponible: @Html.DisplayFor(modelItem => item.Estado)</p>
                        <td>
                          
                            <a asp-controller="Vehiculo" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                          
                        </td>
                    </div>
                </div>
            </div>
        }
    </div>

    <h2>Rutas</h2>
    <div class="row">
        @foreach (var item in Model.Rutas)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @* <img src="/images/placeholder.jpg" alt="Imagen no disponible" class="card-img-top" /> *@
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="card-text">Precio: @Html.DisplayFor(modelItem => item.Estado)</p>
                        <p class="card-text">Disponible: @Html.DisplayFor(modelItem => item.Horarios)</p>
                        <td>

                            <a asp-controller="Ruta" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            
                        </td>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2>Boletos de Rutas Asignadas</h2>
    <div class="row">
        @foreach (var item in Model.Boletos)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Boleto #@Html.DisplayFor(modelItem => item.Id)</h5>
                        <p class="card-text">Usuario: @Html.DisplayFor(modelItem => item.Usuario.Nombre)</p>
                        <p class="card-text">Ruta: @Html.DisplayFor(modelItem => item.Ruta.Nombre)</p>
                        <p class="card-text">Cantidad: @Html.DisplayFor(modelItem => item.Cantidad)</p>
                        <p class="card-text">Fecha de Compra: @Html.DisplayFor(modelItem => item.FechaCompra)</p>
                        <a asp-controller="Boleto" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>


    

</body>
</html>
